<div class="jumbotron text-center">
  <h1 class="display-4">Welcome to the Quiz App!</h1>
  <p class="lead">Test your knowledge and create your own quizzes.</p>
  <hr class="my-4">
  <p>Click the buttons below to get started:</p>
  <a class="btn btn-primary btn-lg" routerLink="/create-quiz" role="button">Create a Quiz</a>
  <a class="btn btn-secondary btn-lg" routerLink="/quiz/1" role="button">Take a Quiz</a>
  <a class="btn btn-success btn-lg" routerLink="/quiz/1/results" role="button">View Results</a>
</div>
